<html>
<head>
<title>
Register</title>
</head>
<body>
<form action="http://192.168.2.159:5000/createacc" method="POST">
<label>Name:</label><input type="text" name="name"/><br>
<label>Email:</label><input type="text" name="email"/><br>
<label>password:</label><input type="password" name="pass"/><br>
<label>HR-Name:</label><input type="text" name="hr"/><br>
<label>Phone Number:</label><input type="text" name="cont"/><br>
<button type="submit" text="Register">Register
</button>
</form>
</body>
</html>